
.transaction{
    max-width: 700px;
    margin: 50px auto;
}

.transaction > h1{
    margin: 10px;
    background-color: #004c8c;
    border: 2px solid #004c8c;
    color: white;
    font-size: 24px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}


.transaction > h1:hover{
    color: #004c8c;
    background-color: lightblue;
}


form{
    padding: 10px ;
}

.transaction form label{
    font-size: 20px;
    margin: 15px 0;
    color: #004c8c;
    font-weight: bolder;
}

.transaction> form> input{
    display: block;
    margin: 5px 0;
    margin-bottom: 25px;
    width: 100%;
    padding: 5px 10px;
    font-size: 24px;
    border-radius: 5px;
    background-color: #d0fcfc;
    border : 2px solid #0277bd;
}


button{
    font-size: 20px;
    padding: 8px 15px;
    border-radius: 5px;
    color: #0277bd;
    border: 2px solid #0277bd;
}

button:hover{
    background-color: #0277bd;
    color: white;
}

input[type="radio"]{
    display: inline;
}

label{
    display: block;
}